@import url("reset.css");

:root {
  --c-primary: #ff7c83;
  --c-bg: #eeeff6;
  --c-text-primary: #222;
  --c-text-secondary: #8e91a6;
  --c-postmark: #FFDE00;
}

body {
  background-color: #FFF;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

h2 {
  text-align: center;
  color: var(--c-text-secondary);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 40px 0 20px;
}

.icon {
  display: inline-block;
  background-image: url(icon.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 75%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--c-postmark);
}

.f-code {
  font-family: 'Roboto Mono', monospace;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: 50px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  box-sizing: border-box;
  padding: 15px;
}
.toolbar_title {
  font-size: 1rem;
  font-weight: 500;
  color: var(--c-text-main);
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toolbar_alias {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  margin-left: 5px;
  border-radius: 3px;
  background-color: var(--c-primary);
  padding: 4px 6px;
}
.toolbar_back {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #dbdaeb;
  padding: 4px 6px 6px;
  border-radius: 3px;
  color: var(--c-text-secondary);
}
.toolbar_path {
  display: flex;
  align-content: center;
  font-size: 13px;
  color: var(--c-text-secondary);
}
.toolbar_path::before {
  display: inline-block;
  content: '';
  background-image: url(folder.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 15px;
  height: 12px;
  margin-right: 5px;
}
.toolbar_icon {
  margin-right: 8px;
}


.sub-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: 40px;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-sizing: border-box;
  padding: 0 15px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, .1);
}
.subject {
  font-size: 13px;
  font-weight: normal;
}
.subject_label {
  color: var(--c-text-secondary);
}
.subject_line {
  color: var(--c-text-primary);
}

.preview-iframe {
  display: block;
  position: absolute;
  top: 50px;
  height: calc(100vh - 90px);
  width: 100%;
  z-index: 1;
}
.preview-frame--layout {
  height: calc(100vh - 50px);
}


.toggle {
  display: flex;
  justify-content: space-between;
  border: 2px solid #dbdaeb;
  border-radius: 4px;
}
.toggle_item {
  box-sizing: border-box;
  display: inline-block;
  text-decoration: none;
  color: var(--c-text-secondary);
  padding: 6px 12px;
  font-size: 13px;
  margin: 3px 3px 3px;
  font-weight: 500;
}
.toggle_item:last-child {
  margin-left: 0;
}
.toggle_item:hover {
  color: var(--c-text-primary);
}
.toggle_item--active,
.toggle_item--active:hover {
  background-color: var(--c-primary);
  color: #FFF;
  border-radius: 2px;
  cursor: default;
}


.list-body {
  position: fixed;
  bottom: 0;
  top: 50px;
  left: 0;
  right: 0;
  background-color: var(--c-bg);
  overflow-y: auto;
  padding: 0 0 50px;
}

.template-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 80%;
}
.template-link {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 10px 25px;
  border: 2px solid transparent;
  margin-bottom: 3px;
  text-decoration: none;
  color: var(--c-text-primary);
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .08);
  transition: 100ms all ease-in-out;
  align-items: center;
}
.template-link:hover {
  border: 2px solid var(--c-primary);
  background-color: #fff2f2;
}
.template-layout {
  color: var(--c-text-secondary);
  font-size: 12px;
}


.hidden {
  display: none;
}