<!doctype html>
<html>
<head>
  <title>Postmark template preview</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,700&display=swap" rel="stylesheet">
  <link href="styles.css" rel="stylesheet" type="text/css" media="all">

  <script type="text/javascript">

  </script>
  <script src="preview.js" type="text/javascript"></script>
</head>
<body>
  <h2>Templates</h2>
  <ul>
    <% templates.forEach(function(template){ %>
      <li>
        <a href="/<%- template.Alias %>"><%- template.Name %></a>
      </li>
    <% }); %>
  </ul>

  <h2>Layouts</h2>
  <ul>
    <% layouts.forEach(function(layout){ %>
      <li>
        <a href="/<%- layout.Alias %>"><%- layout.Name %></a>
      </li>
    <% }); %>
  </ul>
</body>
</html>
