<!doctype html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,500,700&display=swap" rel="stylesheet">
  <link href="../styles/styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<div class="preview-text">
  <pre>
    <%- body %>
  </pre>
</div>
</body>
</html>