<!doctype html>
<html>
<head>
  <link href="../styles/styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body class="missing-body">
<div class="missing-template">
  <h2>No <%- version %> version</h2>
</div>
</body>
</html>
